{% extends 'base3.html' %}

{% block nav_link_recruitersendapproval %}
active 
{% endblock %}

{% block POP_UP_Message %}
You have Approved Successfully.
{% endblock %}

{% block Reference_POP_UP_Message %}
{{ url_for('recruitersendapproval') }} 
{% endblock %}

{% block colors %}
<style>
    body {
        background-color: rgb(231, 225, 225);
    }

    .card {
        background: white;
        border-radius: 10px;
        box-shadow: 0px 5px 10px grey;
    }

    .btn1 {
        border: none;
        outline: none;
        height: 35px;
        width: 14%;
        background-color: black;
        color: white;
        border-radius: 4px;
        font-weight: bold;
        position: absolute;
        right: 17px;
    }

    .btn2 {
        border: none;
        outline: none;
        height: 38px;
        width: 230%;
        background-color: black;
        color: white;
        border-radius: 4px;
    }

    .btn2:hover {
        background: white;
        border: 1px solid;
        color: black;
    }
    
    .btn1:hover {
        background: white;
        border: 1px solid;
        color: black;
    }

</style>
{% endblock %}


{% block content %}

<section class="form my-5">
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h1 class="font-weight-bold py-0">Let's Recruit People</h1>
            </div>

            <form class="row g-4  needs-validation" novalidate>

                <h2 class="font-weight-bold py-0"><i class="bi bi-card-list"></i> List of Applicants </h2>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#myModal" class="btn btn1"
                            role="button" data-toggle="modal">Approve</a>
                            Fulawade Siddhesh Suresh<br />
                        </h4>

                        <div class="col-md-12">
                            <i class="bi bi-geo-alt-fill"></i>
                            Mumbai, Maharashtra<br />
                        </div>

                        <div class="col-md-12">
                            <strong>Position:</strong>
                            Web Developer<br />
                        </div>

                        <div class="col-md-12">
                            <strong>Date of birth:</strong>
                            01/12/2002 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Gender:</strong>
                            Male &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Phone No.</strong>
                            1234567890 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Email:</strong>
                            sid@gmail.com
                        </div>

                        <div class="col-md-12">
                            <strong>Address:</strong>
                            Sanpada, 400705<br />
                        </div>

                        <div class="col-md-12">
                            <strong>Graduated in:</strong>
                            Btech (IT) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Percentage/CGPA:</strong>
                            10 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Name of your Institute.</strong>
                            Pillai College of Engineering, New Panvel 
                        </div>

                        <div class="col-md-12">
                            <strong>Skill:</strong>
                            Python, C, Java<br />
                        </div>
                        <div class="col-lg-1 wrapper text-center">
                            <a href="#"
                                class="btn2 mt-3 mb-1  btn btn-outline btn-white btn-md active" role="button">Download Resume</a>
                        </div>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#myModal" class="btn btn1"
                            role="button" data-toggle="modal">Approve</a>
                            BHUVANESHWAR SRINIVAS RAO GUTTULA<br />
                        </h4>

                        <div class="col-md-12">
                            <i class="bi bi-geo-alt-fill"></i>
                            Mumbai, Maharashtra<br />
                        </div>

                        <div class="col-md-12">
                            <strong>Date of birth:</strong>
                            01/12/2002 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Gender:</strong>
                            Male &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Phone No.</strong>
                            1234567890 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Email:</strong>
                            @gmail.com
                        </div>

                        <div class="col-md-12">
                            <strong>Address:</strong>
                            Vashi, 400705<br />
                        </div>

                        <div class="col-md-12">
                            <strong>Graduated in:</strong>
                            Btech (IT) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Percentage/CGPA:</strong>
                            10 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Name of your Institute.</strong>
                            Pillai College of Engineering, New Panvel 
                        </div>

                        <div class="col-md-12">
                            <strong>Skill:</strong>
                            Python, C, Java<br />
                        </div>
                        <div class="col-lg-1 wrapper text-center">
                            <a href="#"
                                class="btn2 mt-3 mb-1  btn btn-outline btn-white btn-md active" role="button">Download Resume</a>
                        </div>
                    </div>


                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#myModal" class="btn btn1"
                            role="button" data-toggle="modal">Approve</a>
                            ISHAAN DWIVEDI<br />
                        </h4>

                        <div class="col-md-12">
                            <i class="bi bi-geo-alt-fill"></i>
                            Mumbai, Maharashtra<br />
                        </div>

                        <div class="col-md-12">
                            <strong>Date of birth:</strong>
                            01/12/2002 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Gender:</strong>
                            Male &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Phone No.</strong>
                            1234567890 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Email:</strong>
                            @gmail.com
                        </div>

                        <div class="col-md-12">
                            <strong>Address:</strong>
                            Kharghar, 400705<br />
                        </div>

                        <div class="col-md-12">
                            <strong>Graduated in:</strong>
                            Btech (IT) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Percentage/CGPA:</strong>
                            10 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Name of your Institute.</strong>
                            Pillai College of Engineering, New Panvel 
                        </div>

                        <div class="col-md-12">
                            <strong>Skill:</strong>
                            Python, C, Java<br />
                        </div>
                        <div class="col-lg-1 wrapper text-center">
                            <a href="#"
                                class="btn2 mt-3 mb-1  btn btn-outline btn-white btn-md active" role="button">Download Resume</a>
                        </div>

                    </div>
                </div>

            </form>
    </div>
</section>
{% endblock %}