{% extends 'base3.html' %}

{% block nav_link_recruiterjobapplications %}
active
{% endblock %}

{% block POP_UP_Message %}
Your Job has been Created Successfully.
{% endblock %}

{% block Reference_POP_UP_Message %}
{{ url_for('recruiterjobapplications') }} 
{% endblock %}

{% block colors %}
<style>
    body {
        background-color: rgb(231, 225, 225);
    }

    .btn1 {
        border: none;
        outline: none;
        height: 50px;
        width: 100%;
        background-color: black;
        color: white;
        border-radius: 4px;
        font-weight: bold;
    }

    .btn1:hover {
        background: white;
        border: 1px solid;
        color: black;
    }

    .new label:after {
        content: " *";
        color: red;
    }

    .line {
        border-bottom: 2px solid rgb(158, 157, 157);
    }
</style>
{% endblock %}

{% block content %}
<section class="form my-5">
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h1 class="font-weight-bold py-0">Job Applications</h1>
            </div>
            <form class="row g-3 needs-validation" novalidate>
                <h2 class="font-weight-bold py-0"><i class="bi bi-building"></i> Company Details</h2>

                <div class="new col-md-6">
                    <label for="validationCustom05" class="form-label">Name of the Company</label>
                    <input disabled type="text" class="form-control" id="validationCustom05" value="">
                    <div class="invalid-feedback">
                        Please provide a valid company name.
                    </div>
                </div>

                <div class="new col-md-6">
                    <label for="validationCustom06" class="form-label">State</label>
                    <select class="form-select" id="validationCustom06" disabled>
                        <option selected disabled value="">Location of the Company</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Puducherry">Puducherry</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                    </select>
                </div>

                <div class="new col-md-6">
                    <label for="validationCustom07" class="form-label">City</label>
                    <input disabled type="text" class="form-control" id="validationCustom07" value="">
                    <div class="invalid-feedback">
                        Please provide a valid city name.
                    </div>
                </div>

                <div class="new col-md-6">
                    <label for="validationCustom09" class="form-label">Pin Code</label>
                    <input disabled type="text" class="form-control" id="validationCustom09" required>
                    <div class="invalid-feedback">
                        Please provide a valid pin code.
                    </div>
                </div>

                <div class="new col-md-10">
                    <label for="validationCustom08" class="form-label">Address</label>
                    <input disabled type="text" class="form-control" id="validationCustom08" value="">
                    <div class="invalid-feedback">
                        Please provide a valid address.
                    </div>
                </div>

                <span class="line py-3 my-3"></span>

                <h2 class="font-weight-bold py-0"><i class="bi bi-file-earmark-text-fill"></i> Requirements</h2>

                <div class="new col-md-4">
                    <label for="validationCustom10" class="form-label">Qualification Required</label>
                    <input type="text" class="form-control" id="validationCustom10" required>
                    <div class="invalid-feedback">
                        Please provide a valid qualification.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="validationCustom10" class="form-label">Position</label>
                    <input type="text" class="form-control" id="validationCustom10" required>
                </div>

                <div class="col-md-4">
                    <label for="validationCustom11" class="form-label">Salary Range</label>
                    <input type="text" class="form-control" id="validationCustom11" required>
                </div>

                <div class="col-md-10">
                    <label for="validationCustom30" class="form-label">Job Decription</label>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
            </form>

            <div class="form-row card-body text-center">
                <div class="col-lg-5 wrapper text-center">
                <!-- Button HTML (to Trigger Modal) -->
                <a href="#myModal" class="btn1 mt-3 mb-4 btn trigger-btn btn-outline btn-white btn-lg active"
                    role="button" data-toggle="modal">Save</a>
                </div>
            </div>


    </div>
</section>
{% endblock %}